server:
  port: 8080

spring:
  main:
    web-application-type: reactive

  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: payment-service-route
          uri: lb://payment-service
          predicates:
            - Path=/api/payments/**
      default-filters:
        - AddRequestHeader=X-INTERNAL-GATEWAY,true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
